<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.oti.myuniversity.domain.board.repository.IBoardFileRepository">
	
	<select id="selectfileList" resultType="com.oti.myuniversity.domain.board.model.BoardFile" parameterType="int">
		<![CDATA[
			select
				boardFileId, boardFileName, boardFileContentType, boardFileSize
			from boards_files
			where boardid=#{boardId}
		]]>
	</select>
	
	
	<select id="getFile" parameterType="int" resultType="com.oti.myuniversity.domain.board.model.BoardFile">
		<![CDATA[
			select 
				BOARDFILEID, BOARDFILENAME, BOARDFILESIZE, BOARDFILEDATA, BOARDFILECONTENTTYPE
			from 
				boards_files
			where BOARDFILEID=#{fileId}
		]]>
	</select>
	<insert id="insertFileData" parameterType="com.oti.myuniversity.domain.board.model.BoardFile">
		insert into boards_files
			(
			BOARDFILEID,
			BOARDFILENAME,
			BOARDFILESIZE,
			BOARDFILEDATA,
			BOARDFILECONTENTTYPE,
			BOARDID
			)
		values(
			SEQ_BOARDFILEID.NEXTVAL,
			#{boardFileName},
			#{boardFileSize},
			#{boardFileData},
			#{boardFileContentType},
			<if test="boardId == null">
				seq_boardid.currval
			</if>
			<if test="boardId != null">
				#{boardId}
			</if>
		)
	</insert>
	<delete id="deleteFiles" parameterType="int">
		<![CDATA[
			DELETE FROM boards_files
			WHERE EXISTS (SELECT boardid from boards where boards.boardid = #{boardId} and boards.boardid = boards_files.boardId)
		]]>
	</delete>
</mapper>