<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oti.myuniversity.domain.board.repository.IBoardRepository">

<select id="selectArticleListByCatoryType" parameterType="map" resultType="com.oti.myuniversity.domain.board.model.Board">
	<![CDATA[
		SELECT
			BOARDID,
			BOARDTITLE,
			BOARDCONTENT,
			BOARDDATE,
			MEMBERID
		FROM BOARDS
		WHERE boards.boardcategory = #{categoryType} and reportnoticeid is null
		ORDER BY BOARDDATE
		OFFSET (#{end} - #{start})*(#{pageNo}-1) ROWS
		FETCH NEXT 10 ROWS ONLY
	]]>
</select>

<select id="selectTotalArticleCountByCategoryType" parameterType="int" resultType="int">
	<![CDATA[
		SELECT COUNT(BOARDID) AS "count"
		FROM BOARDS
		WHERE BOARDCATEGORY = #{categoryType}
	]]>
</select>

<select id="selectArticle" resultType="com.oti.myuniversity.domain.board.model.Board" parameterType="int">
	<![CDATA[
		select 
			boards.BOARDID,
			BOARDTITLE,
			BOARDCONTENT,
			BOARDDATE,
			BOARDCATEGORY,
			REPORTDEADLINE,
			SUBMISSIONSUBMITDATE,
			SUBMISSIONSCORE,
			boards.MEMBERID,
			membername
		from boards left join members on boards.memberid = members.memberid
		where boards.BOARDID=#{boardId}
	]]>
</select>

<select id="selectMaxBoardId" resultType="int">
	<![CDATA[
		select nvl(max(boards.boardid),0) as boardid FROM boards
	]]>
</select>

<insert id="insertLibrary" parameterType="com.oti.myuniversity.domain.board.model.Board">
	<![CDATA[
		insert into boards
				(BOARDID,
				BOARDTITLE,
				BOARDCONTENT,
				BOARDDATE,
				BOARDCATEGORY,
				MEMBERID)
		VALUES (
				SEQ_BOARDID.NEXTVAL,
				#{boardTitle},
				#{boardContent},
				sysdate, 
				#{boardCategory}, 
				#{memberId})
	]]>
	
</insert>

<select id="getMaxBoardId" resultType="int">
	<![CDATA[
		select nvl(max(boards.boardid),0) as boardid FROM boards
	]]>
</select>

<select id="selectReport" resultType="com.oti.myuniversity.domain.board.model.Board" parameterType="map">
	select
		BOARDID,
		BOARDTITLE,
		BOARDCONTENT,
		BOARDDATE,
		BOARDCATEGORY,
		REPORTDEADLINE,
		SUBMISSIONSUBMITDATE,
		SUBMISSIONSCORE,
		MEMBERID,
		REPORTDEADLINETIME,
		REPORTNOTICEID
	from boards
	where memberId=#{memberId} and REPORTNOTICEID=#{reportNoticeId}
</select>


<select id="selectStudentsReport" resultType="com.oti.myuniversity.domain.board.model.Board" parameterType="int">
	select
		BOARDID,
		BOARDTITLE,
		BOARDCONTENT,
		BOARDDATE,
		BOARDCATEGORY,
		REPORTDEADLINE,
		SUBMISSIONSUBMITDATE,
		SUBMISSIONSCORE,
		boards.MEMBERID,
		REPORTDEADLINETIME,
		REPORTNOTICEID,
		MEMBERNAME
	from boards left join members on boards.memberid = members.memberid
	where REPORTNOTICEID=#{boardId}
</select>


<insert id="insertReport" parameterType="com.oti.myuniversity.domain.board.model.Board">
	<![CDATA[
		insert into boards
				(
				BOARDID,
				BOARDTITLE,
				BOARDCONTENT,
				BOARDDATE,
				BOARDCATEGORY,
				SUBMISSIONSUBMITDATE,
				MEMBERID,
				REPORTNOTICEID
				)
		VALUES (
				SEQ_BOARDID.NEXTVAL,
				#{boardTitle},
				#{boardContent},
				sysdate, 
				#{boardCategory}, 
				sysdate,
				#{memberId},
				#{reportNoticeId}
				)
	]]>		

</insert>

<insert id="insertNoticeReport" parameterType="com.oti.myuniversity.domain.board.model.Board">
	<![CDATA[
			insert into boards
				(
				BOARDID,
				BOARDTITLE,
				BOARDCONTENT,
				BOARDDATE,
				BOARDCATEGORY,
				REPORTDEADLINE,
				MEMBERID,
				REPORTDEADLINETIME
				)
		VALUES (
				SEQ_BOARDID.NEXTVAL,
				#{boardTitle},
				#{boardContent},
				sysdate, 
				#{boardCategory},
				#{reportDeadline},
				#{memberId},
				#{reportDeadlineTime}
				)		
	]]>
</insert>


<select id="selectCountReport" parameterType="map" resultType="int">
   	select COUNT(*) from boards where memberId=#{memberId} and REPORTNOTICEID=#{reportNoticeId}
</select>




</mapper>