<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.oti.myuniversity.member.repository.IMemberRepository">
	
	<select id="selectMember" parameterType="string" resultType="com.oti.myuniversity.member.model.Member">
		<![CDATA[
			SELECT 
				MEMBERID AS memberId,
				MEMBERPASSWORD AS memberPassword,
				MEMBERNAME AS memberName,
				memberemail as memberEmail,
				memberphonenumber as memberPhoneNumber,
				memberbirthday as memberBirthday,
				membertype as memberType
			FROM 
				members
			WHERE memberid=#{memberId}
		]]>
	
	</select>
</mapper>