<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.oti.myuniversity.domain.member.repository.IMemberRepository">
	
	<select id="selectMember" parameterType="string" resultType="com.oti.myuniversity.domain.member.model.Member">
		<![CDATA[
			SELECT
				MEMBERID,
				MEMBERPASSWORD,
				MEMBERNAME,
				MEMBEREMAIL,
				MEMBERPHONENUMBER,
				MEMBERBIRTHDAY,
				MEMBERTYPE
			FROM 
				members
			WHERE memberid=#{memberId}
		]]>
		</select>
		
	<update id="updateMember" parameterType="com.oti.myuniversity.domain.member.model.Member">
	<![CDATA[
		UPDATE 
			MEMBERS 
		SET 
			memberId=#{memberId},
			memberPassword=#{memberPassword},
			memberEmail=#{memberEmail},
			memberPhoneNumber=#{memberPhoneNumber},
			memberBirthday=#{memberBirthday}
		WHERE
			memberId=#{memberId}
	]]>
	</update>
	
	<select id="selectMemberList" parameterType="com.oti.myuniversity.component.Pager" resultType="com.oti.myuniversity.domain.member.model.Member">
	<![CDATA[
		SELECT
			memberId, memberName, memberEmail, memberPhoneNumber
		FROM
			MEMBERS
		WHERE 
			MEMBERTYPE != 'admin'
		OFFSET (#{pageNo} - 1) * #{rowsPerPage} ROWS
		FETCH NEXT #{rowsPerPage} ROWS ONLY
	]]>
	</select>
	
	<select id="getTotalMemberCount" resultType="int">
	<![CDATA[
		SELECT
			COUNT(*)
		FROM
			MEMBERS
	]]>
	</select>
	
</mapper>